:root {
    --primary-color: rgb(41, 41, 44);
    --secondary-color: white;
    --accent-color: rgb(70, 70, 75);
    --light-color: rgb(183, 183, 183);
}


*{
    font-family:Arial, Helvetica, sans-serif;
    /* color:antiquewhite; */
}
body{
    margin: 0;
    background-color: var(--primary-color);
    transition: background-color 0.5s, color 0.5s;
}
header{
    position: sticky;
    top: 0;
    color:var(--secondary-color);
    width: 100%;
}
header h1{
    display: none;
}
nav{
    background-color: var(--accent-color);
    display: flex;
}
#name{
    display: inline;
    padding-left: 20px;
}
nav ul{
    text-align: right;
    width: 100%;
    align-content: center;
}
nav ul li{
    color:var(--secondary-color);
    text-decoration: none;
    list-style: none;
    padding-right: 35px;
    display: inline;

}
a{
    text-decoration: none;
    color: black;
}
li:hover{
    text-decoration: underline;
}


/* MAIN CONTENT  */

section{
    padding: 0 20% 0 20%;
    color:var(--secondary-color);
    margin: 20px 0 20px 0;
}

section h2{
    color:var(--secondary-color);
    text-align: center;
    margin-top: 20px;
}
section p{
    font-size: 20px;
    line-height: 26px;
}
section a{
    display: inline-block;
    background-color: var(--secondary-color);
    font-size: 25px;
    padding: 5px;
    margin-top: 25px;
    transition: 0.2s;
    /* box-shadow: var(--accent-color) 6px 6px; */
}
section a:hover{
    border-radius: 8px;
}

/* FOOTER */

footer{
    background-color: var(--accent-color);
    /* position: absolute;
    bottom: 0; */
    /* margin-top:206px; */
}
footer div{
    display: inline-block;
    width: 32.33%;
    color: var(--secondary-color);
    font-size: 18px;
}
footer h4{
    /* text-align: center; */
    padding-left: 40px;
}
footer p{
    text-align: left;
    padding-left: 40px;
}

/* GO UP BUTTON  */
html{
    scroll-behavior: smooth;
}
.circle-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    /* background-color: #4CAF50; */
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.circle-button i {
    font-size: 32px;
}
  
.circle-button:hover {
    /* background-color: #45a049; */
}

/* THEME CHANGE */
.theme-button {
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    /* background-color: #4CAF50; */
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
  }
  
  .theme-button i {
    font-size: 24px;
}

body.dark-mode .theme-button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
body.dark-mode .circle-button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
body.light-mode{
    background-color: var(--secondary-color);
}
body.dark-mode h2{
    color: var(--primary-color);
}
body.dark-mode section p{
    color: var(--primary-color);
}
body.dark-mode section a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
body.dark-mode nav{
    background-color: var(--light-color);
}
body.dark-mode header{
    color: var(--primary-color);
}
body.dark-mode header li{
    color: var(--primary-color);
}
body.dark-mode footer{
    background-color: var(--light-color);
}
body.dark-mode footer div{
    color: var(--primary-color);
}

/* MOBILE RESPONSIVE */

/* I KNOW YOU WILL COME HERE SAALE PUNJABI */

@media only screen and (min-width: 320px) and (max-width: 768px){
    footer div{
        width: 100%;
    }
    nav{
        display: none;
    }
    header{
        background-color: var(--accent-color);
        text-align: center;
    }
    header h1{
        display: inline-block;
    }
    section{
        padding: 0 7% 0 7%;
        text-align: center;
    }
    section p{
        text-align: left;
    }
}
